
body, html { 
    margin:0; 
    padding:0; 
    height:100%;
    width:100%;
}

/*#map {
    position:absolute;    
    top:0; 
    bottom:0; 
    width:100%;
}*/
h2 {
    font-family: 'Averia Serif Libre', Arial;
    font-size: 2em;
}

h3 {
    font-family: 'Averia Serif Libre', Arial;
    font-size: 1.5em;
}

#map {
    position: absolute;
    left:0;
    top: 0;
    bottom: 0;
    right: 0;
}

/*#resume-container {
    width: 30%;
    margin-left: 70%;
}*/

#features {
    /*border: 3px solid red;*/
    width: 450px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    font-family: sans-serif;
    overflow-y: scroll;
    background-color: #fafafa;
    z-index: 9999999999;

    transition:all .3s ease-in-out;
    transform:translateX(100%);
}

#features.visible {
    transform:translateX(0);
}

.resume-item {
    padding:  25px 50px;
    line-height: 25px;
    border-bottom: 1px solid #ddd;
    opacity: 0.25;
    font-size: 13px;
    /*margin-top: 1.5em;*/
    /*margin-bottom: 50px;*/

 /*transition opacity, for .5 seconds, with easing style ease-in-out*/
    transition:all .3s ease-in-out;

    transform:scale(.9);

}

.resume-item.active {
    opacity: 1;

    transform:scale(1);
}

.resume-item:first-child {
    opacity: 1;
    margin-bottom: 0;
}

.resume-item:last-child {
    border-bottom: none;
    margin-bottom: 600px;
}

.spacer {
    height: 60px;
}

.job-title {
    line-height: .75em;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-family: 'Averia Serif Libre', Arial;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.marker-title {
    font-weight: 700;
    font-family: 'Averia Serif Libre', Arial;
}


/*TODO: FIX THIS UP*/
.floating {
    position: absolute;
    z-index: 99999;

    top:10%;
    left:10%;

    width:100px;
    height:100px;

    background-color:white;
}

.showResumeButton {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    margin: 10px;
    /*width: 45%;*/
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background: #ee8a65;
    font-family: 'Averia Serif Libre', Arial, serif;
}



.debug {
    position:absolute;
    width:100%;
    border:2px solid green;
    width:450px;
    z-index:999999999999999989999999;
}

#debug1 {
    height:100px;
    top:0;
    right:0;
}

#debug2 {
    height:100px;
    bottom:0;
    right:0;
}